[Unit]
Description=Waybar
After=wallust-theme.service
Requires=wallust-theme.service

[Service]
ExecStart=/run/current-system/sw/bin/waybar
Restart=on-failure

[Install]
WantedBy=default.target
