// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {

    // Keyboard settings
    keyboard {
        xkb {

            // Use standard US keyboard layout
            // Best for coding, terminal, and general usage
            layout "us"
        }

        // Enable numlock automatically on startup
        numlock
    }

    // Touchpad settings
    touchpad {

        // Tap touchpad to click
        tap

        // macOS-style scrolling
        // Swipe down = page goes down
        natural-scroll
    }

    // Mouse settings
    mouse {

        // Disable aggressive mouse acceleration
        accel-profile "flat"

        // Slightly slower mouse movement
        accel-speed -0
    }

    // Focus window when mouse hovers over it
    focus-follows-mouse

    // Automatically return to previous workspace
    workspace-auto-back-and-forth
}
