    prefer-no-csd
    screenshot-path null

    environment {
        // Force Electron-based apps (VSCode, Discord, Obsidian) to run natively on Wayland
        ELECTRON_OZONE_PLATFORM_HINT "auto"

        // Ensure Qt apps (OBS Studio, VLC) use native Wayland and disable server-side decorations
        QT_QPA_PLATFORM "wayland"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

        // Define the session identity so D-Bus services and portals correctly recognize Niri
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    hotkey-overlay {
       // Skip displaying the default shortcut guide at startup
       skip-at-startup
    }
