[Desktop Entry]
Type=Application
Name=Configuration
Exec=configuration-menu
Terminal=false
Icon=/home/oscarfaldi/System/.config/assets/icons/desktop/configuration.svg
