[Desktop Entry]
Name=Files
GenericName=File Manager
Comment=Default File Manager

Exec=nautilus %U

Terminal=false
Type=Application

Categories=System;FileManager;
