[Desktop Entry]
Type=Application
Name=NAS
Comment=NAS Operations
Exec=nas-menu
Terminal=false
Icon=/home/oscarfaldi/System/.config/assets/icons/desktop/nas.svg
Categories=System;
