[Desktop Entry]
Name=PDF Viewer
GenericName=PDF Viewer
Comment=Default PDF Viewer

Exec=okular %F

Terminal=false
Type=Application

Categories=Office;Viewer;
