[Desktop Entry]
Name=Text Editor
GenericName=Text Editor
Comment=Default Text Editor

Exec=mousepad %F

Terminal=false
Type=Application

Categories=Utility;TextEditor;
