[Desktop Entry]
Name=Video Player
GenericName=Media Player
Comment=Default Media Player

Exec=mpv %F

Terminal=false
Type=Application

Categories=AudioVideo;Player;
