[Desktop Entry]
Type=Application
Name=Yazi
Comment=Terminal File Manager
Exec=yazi-launch
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
